.sign{
	width: 1000px;
	height: 1250px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.title{
	width: 700px;
	height:100px;

	font-size: 50px;
	font-family: arial black;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	color: white;
}
.title span{
	color: red;
		font-size: 50px;
	font-family: arial black;
}
.signInForm{
	width: 700px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border: 1px solid white;
	background: #303030;

	color: white;
}
.signFormStructureBlock{
	width: 600px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	margin-top: 5px;
	margin-bottom: 5px;
}
.signFormButtonsStructureBlock{
	width: 600px;
	height: 100px;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;

	margin-top: 5px;
	margin-bottom: 5px;
}
.signTypeNameStyle{
	width: 600px;
	height: 100px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-family: Consolas;
	font-size: 30px;

	margin-top: 10px;
	margin-bottom: 10px;
}
.signFormTextField{
	width: 600px;

	font-family: Consolas;
	font-size: 25px;

	margin-bottom: 5px;
}
.signFormTextField span{
	color: #A9A9A9;
	font-size: 15px;
}
.signFormInputField{
	width: 600px;

	border: 0px;
	border-radius: 0px;

	padding: 0;
	margin-bottom: 5px;

	font-size: 25px;
	font-family: Consolas;

}
.signFormErrorInputField{
	width: 600px;

	border: 0px;
	border-radius: 0px;

	padding: 0;
	margin-bottom: 5px;

	background: white ;
	color: #ff7e67;

	font-size: 25px;
	font-family: Consolas;
}
.signFormButtons{
	width: 200px;
	height: 30px;

	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

	border: 0px;

	background: #42b883;

	font-family:Consolas;
	font-size: 15px;

	transition: 1s;
}
.signFormButtons:hover{
	background: black;
	color: white;
}

/*SIGN UP*/
.signUpForm{
	width: 700px;

	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border: 0px solid white;
	background: #303030;

	color: white;
}
.alertMessage{
	width: 600px;

	border: 0px;

	background: white;

	color: #A9A9A9;

	font-family: Consolas;
	font-size: 25px;
}
.line{
	height: 1px;
	background: white;
}
.forgotPasswordForm{
	width: 700px;

	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border: 0px solid white;
	background: #303030;

	color: white;
}
